/*  your css code here. If applicable */
.testimonials-container{
	background-color:#f5f5f5;
	padding:20px;
	
}
.paragraph{
	display:flex;
	padding:10px;
	background-color:white;
	justify-content:space-between;
	
}
.paragraph :first-child{
	font-size:14px;
	text-align:start;
}
.paragraph :last-child{
	font-style:italic;
	display:block;
	margin-top:35px
}